.appHeader {
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.appHeader > h2 {
  flex-grow: 1;
}

.appContent {
  display: flex;
  flex-grow: 1;
  padding: 0 20px;
}

.appFooter {
  color: white;
  padding: 20px;
  background-color: #333;
  text-align: center;
}
