.appHeader {
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.appHeader > h2 {
  flex-grow: 1;
}

.appContent {
  display: flex;
  flex-grow: 1;
  padding: 0 20px;
}

.appFooter {
  color: white;
  padding: 20px;
  background-color: #333;
  text-align: center;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  padding-top: 20px;
  margin-right: 20px;
}

.nav > a {
  margin: 5px 0;
}

.navContent {
  flex-grow: 1;
}
